<div class="col-sm-6 offset-sm-3">
    <div class="shadow-sm p-3 mb-5 bg-white rounded mt-3">
        <div class="col-lg-12">
            <h2 class="pl-2 mb-3">Student Register</h2>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="usr">FirstName</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="FirstName" placeholder="FirstName...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">LastName</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="LastName" placeholder="LastName...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">FatherName</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="FatherName" placeholder="FatherName...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">DateOfBirth</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="DateOfBirth" placeholder="dd/mm/yyyy...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">GraduationName</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <select class="col-sm-12 form-control">
                            <option value="volvo">UG</option>
                            <option value="saab">PG</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">Percentage</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="Percentage" placeholder="Percentage...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">Contact</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="Contact" placeholder="Contact...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">Email</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="Email" placeholder="Email...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">Password</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="Password" placeholder="Password...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">City</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="City" placeholder="City...">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button class="form-control col-lg-3 btn-success mr-5">Create</button>
                <button routerLink="/student-login" class="form-control col-lg-3 btn-black" style="background-color: black;color: white;">Back</button>
            </div>
        </div>
    </div>
</div>