<div class="col-sm-6 offset-sm-3 mt-5">
    <div class="shadow-sm p-1 mb-5 bg-white rounded">
        <h3 class="mb-3 text-center"><u>Student Login</u></h3>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="usr" placeholder="Email...">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="email">Password</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="usr" placeholder="Password...">
                        <button class="form-control btn-success mt-3">Login</button>
                    </div>
                </div>
                    <a routerLink="/student/register" style="color: black;">New Register</a><br>
                <a href="#" routerLink="/student/resetPassword" style="color: black;">ResetPassword</a>
        </div>
    </div>
</div>