<div class="col-sm-6 offset-sm-3">
    <div class="shadow-sm p-3 mb-5 bg-white rounded mt-5">
        <div class="col-lg-12">
            <h2 class="pl-2 mb-3">Admin Login</h2>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="usr">UserName</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="text" class="form-control" id="usr" placeholder="UserName...">
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label for="pwd">Password</label>
                    </div>
                    <div class="form-group col-sm-8">
                        <input type="password" class="form-control" id="pwd" placeholder="Password...">
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button class="form-control col-lg-3 btn-success">Login</button>
            </div>
        </div>
    </div>
</div>