<div class="col-sm-6 offset-sm-3">
    <div class="shadow-sm p-3 mb-5 bg-white rounded mt-5">
    <h2 class="text-center" style="color:#c0c0c0">Login Center</h2>
    <button class="form-control col-lg-3 mt-2 mb-2 circle-link" routerLink="/admin-login" 
    style="background-color: steelblue;color: white;">AdminLogin </button>
    <button class="form-control col-lg-3 circle-link" routerLink="/student-login" 
    style="background-color: steelblue;color: white;">StudentLogin </button>
</div>
</div>